# ~/.gitconfig
# vi: set noexpandtab tabstop=8:
# encoding: utf-8

### PRIVATE SECTION ###
[user]
#	name = Vladimir Savochkin
#	email = savochkin@lavabit.com

### PUBLIC SECTION ###
[core]
	quotepath = false
	sharedRepository = group
[merge]
	log = 32
	renamelimit = 16384
	renormalize = true
[push]
	default = current
[log]
	date = iso
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	amend = commit --amend
	b = branch
	ba = branch -a
	bav = branch -av
	bv = branch -v
	ci = commit
	co = checkout
	gchanged = whatchanged remotes/origin/master..HEAD
	gdraft = push origin HEAD:refs/drafts/master
	greview = push origin HEAD:refs/for/master
	last = log -1 HEAD
	up = ! git-update
	ru = remote update
	st = status
	unstage = reset HEAD
[filter "sed"]
	clean = sed -f %f.sed
[filter "xsltproc"]
	clean = xsltproc %f.xslt %f
